.container {
    display: flex;
    margin: 20px;
}
.wrapper {
    width: auto;
    max-width: 620px;
}
.game_title {
    margin: 0 
}
.board {
    width: 540px;
    height: 540px;
    background-color: green;
    border: #000000 solid 5px;
    margin: 0 auto;
}
.square {
    width: 180px;
    height: 180px;
    background-color: green;
    border: #000000 solid 2px;
}
.winner {
    margin: 0 auto;
}
.result {
    color: red;
    font-size: 20px;
}
.winner h1 {
    text-align: center;
}
.mark {
    position: absolute;
    color: #ffffff;
    font-size: 100px;
    margin: -60px 0 0 56px;
}
.history_area {
    width: 200px;
    margin: 140px 0 0 20px;
}

@media (max-width: 786px) {
    .container {
        width: 340px;
        display: block;
        margin: 0 auto;
    }
    .board {
        width: 300px;
        height: 300px;
    }
    .game_title {
        font-size: 20px;
    }
    .square {
        width: 100px;
        height: 100px;
    }
    .mark {
        font-size: 50px;
        margin: -40px 0 0 10px;
    }
    .history_area {
        width: 200px;
        margin: 20px;
    }
    .history_area h1 {
        font-size: 20px;
    }
    .winner h1 {
        font-size: 20px;
        margin: 0;
    }

}
